body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1e1e1e;
}

.container {
    position: relative; /* создаём контекст для псевдо-элемента */
    min-width: 375px;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    text-align: center;
    z-index: 0;
}

.container::before {
    content: ""; /* псевдо-элемент без содержания */
    position: absolute;
    top: 0;
    bottom: 50%;
    left: 0;
    right: 0;
    height: 80vw;
    background: linear-gradient(to bottom, #0A4589, #062A55);
    z-index: -1;
}

@media screen and (max-width: 500px) {
    .container::before {
        height: 105vw;
    }
}

@media (min-width: 500px) and (max-width: 700px) {
    .container::before {
        height: 95vw;
    }
}

.container::after {
    content: ""; /* псевдо-элемент без содержания */
    position: absolute;
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(to bottom, #FFFDFD, #ADADAD);
    z-index: -2;
}

img {
    display: flex;
    justify-content: center; /* Центрирование по вертикали */
    align-items: center;
}



.game-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.game-option {
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.click-button {
    margin-top: 20px;
    padding: 15px;
    font-size: 18px;
    background: blue;
    color: white;
    border: none;
    border-radius: 10px;
}

.bottom-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.battle-button, .rules-button {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}