.interactive__border__card__outer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 2vw;
    box-shadow: 0 3vw 5vw 1vw rgba(0, 0, 0, 0.2);
    height: 40vw;
    width: 27vw;
}

.interactive__border__card__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0.8vw 0.2vw rgba(0, 0, 0, 0.35);
    background: #fff;
    border-radius: 1vw;
    height: 37vw;
    width: 24vw;
}

.stone__icon {
    height: 24vw;
}

.stone__background {
    background: linear-gradient(to bottom, #9AC9FF, #4387D6)
}

.cut__icon {
    height: 20vw;
}

.cut__background {
    background: linear-gradient(to bottom, #EA8E8E,#D64636)
}

.paper__icon {
    height: 20vw;
}

.paper__background {
    background: linear-gradient(to bottom, #EAC17E,#D18B17)
}