.score-display {
    display: flex;
    justify-content: space-between;
    color: white;
    padding-top: 14px;
    padding-left: 14px;
    padding-right: 14px;
}

.score-display div {
    margin-right: 10px;
}

.score-display div:last-child {
    margin-right: 0; /* Убираем отступ у последнего элемента */
}

.label {
    font-family: 'Inria Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.12em;
    text-align: left;
    padding-bottom: 4px;
}

.value {
    font-family: 'Inria Sans', sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 20px;
    width: 100%;
    align-items: center;
    color: #2958D1;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.scoreboard-counter {
    display: flex;
    background: #FFFFFF;
    border-radius: 14px;
    height: 38px;
    justify-content: left; /* Центрирование по вертикали */
    align-items: center;
    padding: 0 4px;
}