.interactive__border__outer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 2vw 0.1vw rgb(255, 255, 255, 0.20);
}

.interactive__border__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0.8vw 0.2vw rgba(0, 0, 0, 0.35);
    background: #fff;
    border-radius: 50%;
}
