/* components/ScoreSection/ScoreSection.css */
.score-display {
    display: flex;
    justify-content: space-between;
    color: var(--white);
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.score-display > div {
    margin-right: 1rem;
}

.score-display > div:last-child {
    margin-right: 0;
}
